@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Nunito", sans-serif;
    letter-spacing: -0.025em;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: #054e0a;
}
